.header {
    -fx-background-color: #9A8262;
}

.app-name {
    -fx-text-fill: white;
    -fx-font-family: Cantarell;
    -fx-font-size: 24px;
}

.account-button {
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-font-size: 16;
    -fx-font-family: Cantarell;
}

.account-button:hover {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.icon-button {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.icon-button:hover {
    cursor: hand;
}